.page-header
  %h1 Production Snapshot

= react_component 'StateColumns', { data: StatePresenter.collection(@states).as_json,
                                    units: UnitPresenter.collection(Unit.all).as_json }
